@font-face {
    font-family: 'League Spartan';
    src: url('./LeagueSpartan-VariableFont_wght.ttf') format(truetype);
    font-weight: 700;
}

:root {
    --White-Text-Color: hsl(0, 0%, 100%);
}

[data-theme="1"] {
    --Main-Background-Color: hsl(222, 26%, 31%);
    --Keypad-Background-Color: hsl(223, 31%, 20%);
    --Screen-Background-Color: hsl(224, 36%, 15%);
    --Clear-Key-Background-Color: hsl(225, 21%, 49%);
    --Clear-Key-Shadow-Color: hsl(224, 28%, 35%);
    --Equal-Key-Background-Color: hsl(6, 63%, 50%);
    --Equal-Key-Shadow-Color: hsl(6, 70%, 34%);
    --Value-Key-Background-Color: hsl(30, 25%, 89%);
    --Value-Key-Shadow-Color: hsl(28, 16%, 65%);
    --Text-Color: hsl(221, 14%, 31%);
    --Other-Text-Color: hsl(0, 0%, 100%);
}

[data-theme="2"] {
    --Main-Background-Color: hsl(0, 0%, 90%);
    --Keypad-Background-Color: hsl(0, 5%, 81%);
    --Screen-Background-Color: hsl(0, 0%, 93%);
    --Clear-Key-Background-Color: hsl(185, 42%, 37%);
    --Clear-Key-Shadow-Color: hsl(185, 58%, 25%);
    --Equal-Key-Background-Color: hsl(25, 98%, 40%);
    --Equal-Key-Shadow-Color: hsl(25, 99%, 27%);
    --Value-Key-Background-Color: hsl(45, 7%, 89%);
    --Value-Key-Shadow-Color: hsl(35, 11%, 61%);
    --Text-Color: hsl(60, 10%, 19%);
}

[data-theme="3"] {
    --Main-Background-Color: hsl(268, 75%, 9%);
    --Keypad-Background-Color: hsl(268, 71%, 12%);
    --Screen-Background-Color: hsl(268, 71%, 12%);
    --Clear-Key-Background-Color: hsl(281, 89%, 26%);
    --Clear-Key-Shadow-Color: hsl(285, 91%, 52%);
    --Equal-Key-Background-Color: hsl(176, 100%, 44%);
    --Equal-Key-Shadow-Color: hsl(177, 92%, 70%);
    --Value-Key-Background-Color: hsl(268, 47%, 21%);
    --Value-Key-Shadow-Color: hsl(290, 70%, 36%);
    --Text-Color: hsl(52, 100%, 62%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    user-select: none;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: var(--Main-Background-Color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    height: fit-content;
    max-width: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.2rem;
    padding: .5rem;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Other-Text-Color, var(--Text-Color));
}

.logo {
    font-size: 1.5rem;
}

.theme-section {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1rem;
}

.theme-section>span {
    font-size: .7rem;
    letter-spacing: 1px;
    margin-bottom: .2rem;
}

.levels {
    display: flex;
    flex-direction: column;
    gap: .15rem;
    cursor: pointer;
}

.level {
    display: flex;
    justify-content: space-around;
}

.level span {
    font-size: .75rem;
}

.level-box {
    width: 50px;
    height: 18px;
    background-color: var(--Keypad-Background-Color);
    border-radius: 12px;
    position: relative;
}

.caret {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 8.5%;
    background-color: var(--Equal-Key-Background-Color);
    transform: translateY(-50%);
    transition: .2s;
}

.caret:hover {
    filter: brightness(160%);
}

#screen {
    width: 100%;
    padding: 1.2rem 1.5rem;
    font-size: 2.3rem;
    text-align: right;
    color: var(--Other-Text-Color, var(--Text-Color));
    background-color: var(--Screen-Background-Color);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -4px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    border-radius: .5rem;
    cursor: pointer;
}

#screen:active,
#screen:focus {
    cursor: text;
}

#screen::selection {
    color: var(--Text-Color);
    background-color: var(--Value-Key-Background-Color);
}

section.keypad {
    width: 100%;
    padding: 1rem;
    background-color: var(--Keypad-Background-Color);
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1.1rem;
}

.buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1.1rem;
}

button {
    border: none;
    outline: none;
    width: 50%;
    color: var(--Text-Color);
    background-color: var(--Value-Key-Background-Color);
    font-size: 1.3rem;
    border-radius: .3rem;
    padding: .6rem 0;
    transition: .2s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button::before {
    content: "";
    height: .3rem;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -2px;
    border-radius: .3rem;
    background-color: var(--Value-Key-Shadow-Color);
}

.clear-btn {
    color: var(--White-Text-Color);
    background-color: var(--Clear-Key-Background-Color);
    letter-spacing: 1.5px;
}

.clear-btn::before {
    background-color: var(--Clear-Key-Shadow-Color);
}

.equal-btn {
    color: var(--White-Text-Color);
    background-color: var(--Equal-Key-Background-Color);
}

.equal-btn::before {
    background-color: var(--Equal-Key-Shadow-Color);
}

button:hover {
    scale: 1.05;
    filter: brightness(120%);
}